*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  background-image: url(../multimedia/fondo-madera-negra-textura-madera-vieja_88281-3221.webp);

  
 
}
  body ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-image: linear-gradient(to top, #654965, rgb(75, 71, 71)); }
    body ul li {
      padding: 10px;
      font-size: 15px; }
      body ul li a {
        color: antiquewhite;
        padding: 12px;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif; }
        body ul li a:hover {
          color: rgb(150, 177, 201); }

     .main h1 {
      color:#fff;
      padding: 20px;
      text-align: center;
      font-size: 60px; }
     
      
    body .main .galery {
      margin-top: 40px;
      margin-bottom: 40px;
      background-image: url(../multimedia/hoja-pliegue-realista-textura-papel-arrugado_107791-13648.webp);
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      border: solid 0.5px white;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 280px;
      display: grid;
      grid-template-columns: 160px 160px 160px 160px;
      grid-template-rows: 260px 260px 260px  260px;
      grid-template-areas: "img1 img1 img3 img5" "img1 img1 img3 img5" "img2 img2 img4 img5" "img2 img2 img4 img5";
      gap: 20px; }
      body .main .galery .gallery__picture--g1 {
        grid-area: img1; }
      body .main .galery .gallery__picture--g2 {
        grid-area: img2; }
      body .main .galery .gallery__picture--g3 {
        grid-area: img3; }
      body .main .galery .gallery__picture--g4 {
        grid-area: img4; }
      body .main .galery .gallery__picture--g5 {
        grid-area: img5; }
      body .main .galery .galery__img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      body .main .galery .gallery__picture {
        position: relative;
        cursor: pointer;
        overflow: hidden; }
      body .main .galery .gallery__picture::before {
        content: "N. S";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: scale(0);
        transition: transform .4s;
        background-color: #5b40f3a6;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px; }
      body .main .galery .gallery__picture:hover::before {
        transform: scale(3); }
        p{
          font-size: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color:red;
          text-align: center;
          font-style: italic;
          padding: 20px;
         }
         .piedepagina {
          background-color: #131213;
          padding: 30px; }
              .piedepagina p {
              margin: 0,6px;
              text-align: center;
              color: aliceblue;
              background-color: rgb(28, 27, 27);
              font-size: 15px;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
          .piedepagina .img-vec{
              text-align: center;
              position: relative;
              background-color: rgb(50, 49, 49);}
          .piedepagina .img-vec .img-vec__1{
              width: 50px;
              height: 50px;
              padding: 4px;}
          .piedepagina .img-vec .img-vec__2{
              width: 50px;
              height: 50px;
              padding: 4px;}
          .piedepagina .img-vec .img-vec__3{
              width: 50px;
              height: 50px;
              padding: 4px;}





@media screen and (max-width: 500px){

body .main .galery {
    border: solid 2px white;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    }
    
   

body .main .galery .galery__img {
  width: 250px;
  height: 350px;
  
  object-fit: none;
padding-left: 20px; }

  body .main .galery .gallery__picture {
    position: relative;
    cursor: pointer;
    overflow: hidden; 
   }
  

    }